<a href="https://colab.research.google.com/github/adnanahmed60222-cmd/nooha-asp/blob/main/decision_tree_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [100]:
import pandas as pd
df = pd.read_csv('Train.csv')
df.head(20)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A
5,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,C
6,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,C
7,464347,Female,No,33,Yes,Healthcare,1.0,Low,3.0,Cat_6,D
8,465015,Female,Yes,61,Yes,Engineer,0.0,Low,3.0,Cat_7,D
9,465176,Female,Yes,55,Yes,Artist,1.0,Average,4.0,Cat_6,C
10,464041,Female,No,26,Yes,Engineer,1.0,Low,3.0,Cat_6,A
11,464942,Male,No,19,No,Healthcare,4.0,Low,4.0,Cat_4,D
12,461230,Female,No,19,No,Executive,0.0,Low,NaN,Cat_3,D
13,459573,Male,Yes,70,No,Lawyer,NaN,Low,1.0,Cat_6,A
14,460849,Female,Yes,58,No,Doctor,0.0,Low,1.0,Cat_3,B
15,460563,Female,No,41,No,Healthcare,1.0,Low,2.0,Cat_1,C
16,466865,Female,No,32,No,Homemaker,9.0,Low,5.0,Cat_3,D
17,461644,Male,No,31,No,Healthcare,1.0,Low,6.0,Cat_6,B
18,466772,Male,Yes,58,Yes,Entertainment,1.0,Average,4.0,Cat_6,B
19,464291,Female,Yes,79,Yes,Artist,0.0,High,1.0,Cat_6,C

In [101]:
df['Family_Size'].value_counts()

Family_Size
2.0    2390
3.0    1497
1.0    1453
4.0    1379
5.0     612
6.0     212
7.0      96
8.0      50
9.0      44
Name: count, dtype: int64

In [102]:
df = df.drop('ID',axis = 1)
df = df.drop('Va')

In [103]:
df.head(5)

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A

In [104]:
#data cleaning part
df['Work_Experience'] = df['Work_Experience'].fillna(df['Work_Experience'].median())
df['Family_Size'] = df['Family_Size'].fillna(df['Family_Size'].median())
df['Ever_Married'] = df['Ever_Married'].fillna(df['Ever_Married'].mode()[0])
df['Graduated'] = df['Graduated'].fillna(df['Graduated'].mode()[0])
df['Profession'] = df['Profession'].fillna(df['Profession'].mode()[0])
df['Var_1'] = df['Var_1'].fillna(df['Var_1'].mode()[0])

In [105]:
#label encoding
import pandas as pd

categorical_cols = ['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score', 'Var_1']
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)
df.head()

,Age,Work_Experience,Family_Size,Segmentation,Gender_Male,Ever_Married_Yes,Graduated_Yes,Profession_Doctor,Profession_Engineer,Profession_Entertainment,...,Profession_Lawyer,Profession_Marketing,Spending_Score_High,Spending_Score_Low,Var_1_Cat_2,Var_1_Cat_3,Var_1_Cat_4,Var_1_Cat_5,Var_1_Cat_6,Var_1_Cat_7
0,22,1.0,4.0,D,True,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
1,38,1.0,3.0,A,False,True,True,False,True,False,...,False,False,False,False,False,False,True,False,False,False
2,67,1.0,1.0,B,False,True,True,False,True,False,...,False,False,False,True,False,False,False,False,True,False
3,67,0.0,2.0,B,True,True,True,False,False,False,...,True,False,True,False,False,False,False,False,True,False
4,40,1.0,6.0,A,False,True,True,False,False,True,...,False,False,True,False,False,False,False,False,True,False

In [106]:
#split the data
from sklearn.model_selection import train_test_split
X = df.drop('Segmentation', axis=1)
y = df['Segmentation']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [107]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
params = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [3, 5, 7, 10, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}




grid = GridSearchCV(DecisionTreeClassifier(random_state=42),
                    param_grid=params,
                    cv=5,
                    scoring='accuracy')

grid.fit(X_train, y_train)

print("Best Parameters:", grid.best_params_)
print("Best CV Accuracy:", grid.best_score_)

Best Parameters: {'criterion': 'entropy', 'max_depth': 7, 'min_samples_leaf': 1, 'min_samples_split': 10}
Best CV Accuracy: 0.4953079316804754

In [85]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

cv = StratifiedKFold(n_splits=5)
scores = cross_val_score(grid, X_train, y_train, cv=cv, scoring='accuracy')
print("Mean CV Accuracy:", scores.mean())

y_pred = grid.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Mean CV Accuracy: 0.5224060763303731
Accuracy: 0.5080545229244114